
:root {
    width: 100vw;
    height: auto;
    background-color: black;
    position: relative;
    --mn-container-color:hsl(0, 0%, 100%);
    --mn-bg-color:hsl(30, 54%, 90%);
    --mn-bd-color:hsl(30, 18%, 87%);
    --mn-bold-color:hsl(30, 10%, 34%);
    --mn-txt-color:hsl(24, 5%, 18%);
    --mn-h3-color:hsl(14, 45%, 36%);
    --mn-prep-h-color:hsl(332, 51%, 32%);
    --mn-prep-color:hsl(330, 100%, 98%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}


body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: var(--mn-txt-color);
    width:  21rem;
    min-height: 100%;
    background-color: var(--mn-bg-color);
    margin: 0 auto;
}
h1,
h2 {
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
}

ul,
ol, 
li {
    padding: 0;
    margin: 0;
}

li {
   list-style-type: none;
}

section {
    width: 100%;
    height: 100%;
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    display: flex;
    flex-direction: column;
    background-color: var(--mn-container-color);

}

.container {
    width: 90%;
    padding: 1rem;
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    flex: 1 1 21rem;
    margin: 0 auto;
}

.hero {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
}

.sum {
    margin-bottom: 2rem;
}

.sum p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3rem;
    color: var(--mn-txt-color);
}

h1 {
    color: var(--mn-txt-color);
   font-size: 2rem;
   line-height: 1;
   margin-bottom: 1rem;
}

h2 {
    color: var(--mn-h3-color);
}

.prep {
    background-color: var(--mn-prep-color);
    width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.prep h4 {
    color: var(--mn-prep-h-color);
    margin-bottom: 1rem;
}

.prep ul {
   margin-left: .5rem;
}

.prep li::before {
content: '';
display: block;
width: 0.25rem;
height: 0.25rem;
border-radius: 50%;
background-color: var(--mn-txt-color);
}

.prep li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0 1rem;
    margin-bottom: 1rem;
}

.ingr {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--mn-bd-color);
}

.ingr li::before {
content: '';
display: block;
width: 0.25rem;
height: 0.25rem;
border-radius: 50%;
background-color: var(--mn-txt-color);
}

.ingr h2 {
    margin-bottom: 1rem;
}

.ingr ul {
    margin-bottom: 1rem;
}

.ingr li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0 1rem;
    margin-bottom: 1rem;
}

.instr {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
     color: var(--mn-txt-color);
    border-bottom: 1px solid var(--mn-bd-color);
}

.instr li {
    list-style-type: decimal;
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
}

.instr li::marker {
    color: var(--mn-h3-color);
    font-weight: 600;
    font-family: "Outfit";
}

.instr h2 {
    margin-bottom: 1rem;
}

.instr p {
    padding-left: 0.5rem;
}

.instr strong {
   color: inherit;
}

.nutri {
     display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.nutri h2 {
    margin-bottom: 1rem;
}

.nutri p {
    flex: 1;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

.nutri li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid var(--mn-bd-color);
    padding: 1rem 0;
    margin-left: 2rem;
    align-items: center;
    justify-content: space-between;
}

.nutri li strong {
    color: var(--mn-h3-color);
}

.nutri li:last-of-type {
    border-bottom: none;
}
.attribution {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (min-width: 820px) {
    body {
        width: 90rem;
        background-color: var(--mn-bg-color);
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    section {
        width: 45rem;
        height: auto;
        border-radius: 1rem;
        margin: 0 auto;
     
    }

    .container {
    width: 90%;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
      }

      .hero {
        padding: 2rem;
         margin-bottom: 0;
      }

      .ingr ul,
      .instr ul {
         margin-left: 0.5rem;
      }

      img {
        border-radius: 1rem;
       
      }
      
}

